/* mobile specific : */
@media only screen and (max-width: 600px){
    body {
        height:100%;
        margin:0px;
        padding:0px;
        width:100%;
        background-color : white;
        color : white;
    }
    #tchat {
        background-color : white;
        opacity : 0.8;
        width : 500px;
        height : 300px;
        border : 3px rgb(40,40,40) solid;
        overflow : auto;
    }
}
body{
    -webkit-text-size-adjust:none;
    font-family: futura;
    font-size: 24px;
    letter-spacing: 15px;
}
a {
    border:none;
    outline: none;
    border-style: none;
}
html, body {
        margin:0px;
        padding:0px;
        height:100%;
        width:100%;
        color : white;
        text-align : center;
    }
    .line {
        border-bottom : 1px rgb(80,80,80) solid;
        padding : 4px;
        text-align:left;
        color : rgb(40,40,40);
    }

/*LOGIN PAGE*/
#loginPage {
  width : 100%;
  background: url("../img/fond-login.jpg") no-repeat;
  color: black;
  text-align: left;
 /* padding-left:80px;*/


}
#logoLogin {
    padding-top :50px;
    padding-bottom:50px;
    /*text-align: center;*/
}
#loginPage input {
    background-color: rgba(0, 0, 255, 0);
    margin-top:26px;
    border:none;
    padding-bottom: 25px;
    border-bottom: 3px solid black;
    color: black;
    font-size: 60px;
    height: 60px;
    margin-bottom:50px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: black;
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 40px;
    padding-bottom: 25px;
}
#loginPage label {
    display:block;
}
#subscribeLink {
    display:block;
    background-color: rgba(0, 0, 255, 0);
    margin-top:26px;
    border:0;
    padding-bottom: 25px;
    border-bottom: 3px solid black;
    color: black;
    font-size: 60px;
    height: 60px;
    margin-bottom:50px;
}
#loginPage button {
    display:block;
    background-color: rgba(0, 0, 255, 0);
    margin-top:26px;
    border:0;
    border-bottom: 3px solid black;
    color: black;
    font-size: 60px;
    height: 60px;
    margin-bottom:50px;
    color: black;
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 40px;
    padding-bottom: 50px;
}

/*MAP PAGE*/
#mapPage {
  width : 100%;
}
#lokiPhoto img {
    width:50%;
}